@model Login_System.ViewModels.UserSkillsWithSkillVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.SkillCount = 0;
    var counter = 0;
}

<h2>Skill Evaluation</h2>
<hr />
<fieldset>
    <form asp-action="Create" asp-controller="UserSkills">
        <div asp-validation-summary="All" class="input-validation-error"></div>

        @for (int i = 0; i < Model.SkillList.Count(); i++)
        {
            counter++;
            <div class="container-fluid p-0">
                <div class="row mb-2">
                    <div class="col-sm-2">
                        <strong><label class="form-check-label align-middle">@Model.SkillList[i]</label></strong>
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="@Model.SkillLevel[i]">
                            <option value="0">0 - No interest</option>
                            <option value="1">1 - Apprentice</option>
                            <option value="2">2 - Journeyman</option>
                            <option value="3">3 - Expert</option>
                            <option value="4">4 - Artisan</option>
                            <option value="5">5 - Master</option>
                        </select>
                        <input hidden asp-for="@Model.SkillList[i]" />
                        <span asp-validation-for="@Model.SkillLevel[i]"></span>
                    </div>                   
                </div>
                
            </div>
        }
        <p>
            <input hidden asp-for="@Model.SkillCount" value="@counter" />
        </p>
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-danger" asp-action="SkillList" asp-route-id="@TempData["UserId"]">Back</a>
                </div>
            </div>
        </div>
    </form>
</fieldset>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
