@model Login_System.ViewModels.UserSkillsWithSkillVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.SkillCount = 0;
    var counter = 0;
}

<h1>Create</h1>

<h4>UserSkills</h4>
<hr />
<fieldset>
    <form asp-action="Create" asp-controller="UserSkills">
        <div asp-validation-summary="All" class="input-validation-error"></div>

        @for (int i = 0; i < Model.SkillList.Count(); i++)
        {
            counter++;
            <p>
                <label>@Model.SkillList[i]</label>
                <input asp-for="@Model.SkillLevel[i]" class="form-control" type="number" min="0" max="5" />
                <input hidden asp-for="@Model.SkillList[i]" />
                <span asp-validation-for="@Model.SkillLevel[i]"></span>
            </p>
        }
        <p>
            <input hidden asp-for="@Model.SkillCount" value="@counter" />
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</fieldset>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
