@model Login_System.ViewModels.UserSkillsWithSkillVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.SkillCount = 0;
    var counter = 0;
}

<h2>@Resources.Resources.UserSkills_Create_Title</h2>
<hr />
<fieldset>
    <form asp-action="Create" asp-controller="UserSkills">
        <div asp-validation-summary="All" class="input-validation-error"></div>
        @foreach (var item in Model.SkillList)
        {

            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-sm-2">
                        <strong><label class="form-check-label align-middle">@item.Skill</label></strong>
                    </div>

                    <div class="col-sm-10">
                        <select class="form-control" asp-for="@Model.Skilllevel" id="@item.Id">
                            <option value="0">@Resources.Resources.EVAL_DROPDOWN_0</option>
                            <option value="1">@Resources.Resources.EVAL_DROPDOWN_1</option>
                            <option value="2">@Resources.Resources.EVAL_DROPDOWN_2</option>
                            <option value="3">@Resources.Resources.EVAL_DROPDOWN_3</option>
                            <option value="4">@Resources.Resources.EVAL_DROPDOWN_4</option>
                            <option value="5">@Resources.Resources.EVAL_DROPDOWN_5</option>
                        </select>
                    </div>
                    <br />
                    <div class="container-fluid p-0">

                        <input type="hidden" asp-for="@Model.SkillList" value="@item" />
                        <span asp-validation-for="@Model.SkillList"></span>
                        <input type="hidden" asp-for="Skillid" value="@item.Id" />
                    </div>
                </div>
            </div>

        }

        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel </button>
                    <button class="btn btn-primary" type="submit"><i class="fas fa-check fa-fw"> </i> @Resources.Resources.UserSkills_Create_Submit</button>
                </div>
            </div>
        </div>
    </form>
</fieldset>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<script>
    $(document).ready(function setDropDownDefaults() {
    @foreach(var skill in Model.UserSkill)
    {
        <text>
        $("#@skill.Skillid").val("@skill.SkillLevel");
        </text>
    }
    });



</script>