@model Login_System.ViewModels.EditFormVM
@{
    ViewData["Title"] = "EditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int uId = 0;
}

<h2>@Resources.Resources.UserSkills_EditForm_Title @ViewBag.Date</h2>
<hr />
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6 border-right border-dark">
            <fieldset>
                <form asp-action="EditForm">
                    <div asp-validation-summary="All" class="input-validation-error"></div>
                    @for (int i = 0; i < Model.UserSkills.Count(); i++)
                    {
                        uId = Model.UserSkills[i].UserID;
                        <div class="form-group">
                            <div class="container-fluid p-0">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="col-form-label">@Model.UserSkills[i].SkillName</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control" asp-for="@Model.UserSkills[i].SkillLevel">
                                            <option value="0">@Resources.Resources.EVAL_DROPDOWN_0</option>
                                            <option value="1">@Resources.Resources.EVAL_DROPDOWN_1</option>
                                            <option value="2">@Resources.Resources.EVAL_DROPDOWN_2</option>
                                            <option value="3">@Resources.Resources.EVAL_DROPDOWN_3</option>
                                            <option value="4">@Resources.Resources.EVAL_DROPDOWN_4</option>
                                            <option value="5">@Resources.Resources.EVAL_DROPDOWN_5</option>
                                        </select>
                                        <input hidden asp-for="@Model.UserSkills[i].SkillName" />
                                        <input hidden asp-for="@Model.UserSkills[i].UserID" />
                                        <input hidden asp-for="@Model.UserSkills[i].Id" />
                                        <input hidden asp-for="@Model.UserSkills[i].AdminEval" />
                                        <input hidden asp-for="@Model.UserSkills[i].Date" />
                                        <span asp-validation-for="@Model.UserSkills[i].SkillLevel"></span>
                                    </div>
                                </div>
                            </div>                                                                                                               
                        </div>
                    }
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel </button>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-check fa-fw"> </i> @Resources.Resources.UserSkills_EditForm_Update</button>
                            </div>
                        </div>

                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-md-6">
            <h4>@Resources.Resources.UserSkills_EditForm_DescTitle</h4>
            <p>@Resources.Resources.UserSkills_EditForm_Desc</p>
        </div>
    </div>
</div>


