@model IEnumerable<Login_System.Models.Skills>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SkillList</h1>

<p>
    <a asp-action="Create" asp-route-id="">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatestEntry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatestEval)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestEval)
            </td>
            <td>
                <a asp-action="SkillList" asp-route-skillName="@item.Skill">View</a> |
            </td>
        </tr>
        }
    </tbody>
</table>