@model IEnumerable<Login_System.ViewModels.DateListVM>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "ListByDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <script src="~/js/Chart.bundle.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <script>
        $(function () {
            $("#dateSearch").datepicker();
        });
    </script>

<h2>@ViewBag.UserNames - Skill Overview</h2>
<h2 class="text-danger">@TempData["ActionResult"]</h2>

<form asp-controller="UserSkills" asp-action="ListByDate">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" id="dateSearch" placeholder="Search for dates...">
            </div>
            <div class="col-sm">
                <input class="btn btn-info" type="submit" value="Filter" />
                <a class="btn btn-primary" asp-action="Create" asp-route-id="@TempData["UserId"]">Create New</a>
                <a class="btn btn-danger" asp-action="SkillList" asp-route-id="@TempData["UserId"]" asp-route-name="latest">Back</a>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Evaluation Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (item.AdminEval == "Admin Evaluation")
                {
                    <td>
                        <span class="text-danger">@Html.DisplayFor(modelItem => item.AdminEval)</span>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminEval)
                    </td>
                }
            <td>
                <a asp-action="SkillList" asp-route-name="@item.TempDate" asp-route-id="@item.Id">View</a> |
                <a asp-action="ListByDate" asp-route-id="@TempData["UserId"]" asp-route-month="@item.Date.Month" asp-route-year="@item.Date.Year">View in Graph</a> |
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="EditForm" asp-route-name="@item.TempDate" asp-route-id="@item.Id" asp-route-date="@item.Date">Edit</a> <span> | </span>
                    <a asp-action="DeleteForm" asp-route-name="@item.TempDate" asp-route-id="@item.Id">Delete</a>
                }
            </td>
            </tr>
        }
    </tbody>
</table>
<h1>Skill progression graph for the chosen date</h1>
<h3>X: day of the month, Y: SKill level. Hover on the point to reveal details</h3>
<canvas id="myChart" width="1000" height="500"></canvas>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31], //for each day of the month possible          
        datasets: [
            @for(int i = 0; i < ViewBag.DataPoint.Length;i++)
            {
                string deta = JsonConvert.SerializeObject(ViewBag.DataPoint[i]);
                deta = deta.Replace("\"x\"", "x");//json serialize method puts quotes around X and Y and ChartJS doesn't recognize them because of that
                deta = deta.Replace("\"y\"", "y");
                var random = new Random();
                var color = String.Format("#{0:X6}", random.Next(0x1000000));//generating a random color for the labels
                <text>
                {
                label: @Html.Raw(JsonConvert.SerializeObject(ViewBag.names[i]))+' '+@Html.Raw(Json.Serialize(ViewBag.Dates[i])) + ', the skill level is ',//this appears when hovering over a viewpoint
                data: [@Html.Raw(deta)],
                backgroundColor: "@color",
                borderColor: "@color",
                borderWidth: 5,//thickness of data pooints
                tension: 0,//i honestly don't remember what it does
                //showLine: true
                },
        </text>
            }
            {
            //empty dataset cause too lazy to implement no comma in the for loop for the last element
            }
        ]
        
    },
    options: {
        label: {
            display: true
        },
        legend: {
            display: false //it becomes crowded when there are lot of skill evaluations made
        }        
    }
});
    lineChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            /* leftover code, will be useful when changing the X axis to actual dates, this doesn't do anything at the moment */
            xAxes: [{
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DDTHH:mm:ss',
                        unit: 'day'
                    },
                    ticks: {
                        source: 'data'
                    }
            }],
            /*supposed to make the Y axis start at 0, doesn't work at the moment, TODO: make it work*/
            yAxes: [{
                beginAtZero: true,
                suggestedMin: 0,
                suggestedMax: 5,
                stepSize: 1
            }]
        }
    }
console.log(myChart)
</script>
