@model IEnumerable<Login_System.ViewModels.UserSkillsVM>

@{
    ViewData["Title"] = "SkillList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userId = 0;
}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm">
            <h2>@TempData["UserName"] - Skills</h2>
            <h4>@TempData["Date"]</h4>
            <h4>@TempData["ActionResult"]</h4>
        </div>        
    </div>  
</div>
<hr />
<div class="container-fluid p-0 pb-4">
    <div class="row">
        <div class="col-sm">
            <a asp-action="ListByDate" asp-route-id="@TempData["UserId"]" class="btn btn-info">View History</a>
            <a class="btn btn-primary" asp-action="Create" asp-route-id="@TempData["UserId"]">Evaluate</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillGoal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    userId = item.UserID;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @if (item.SkillLevel < item.SkillGoal)
                {
                    <span class="text-danger"><strong>@Html.DisplayFor(modelItem => item.SkillLevel)</strong></span>
                }
                else if (item.SkillLevel == item.SkillGoal || item.SkillLevel > item.SkillGoal)
                {
                    <span class="text-success"><strong>@Html.DisplayFor(modelItem => item.SkillLevel)</strong></span>
                }
            </td>
            <td>
                <span><strong>@Html.DisplayFor(modelItem => item.SkillGoal)</strong></span>                
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-danger" asp-action="Index" asp-controller="AppUsers">Back to List</a>
</div>
