@model IEnumerable<Login_System.ViewModels.UserSkillsVM>

@{
    ViewData["Title"] = "SkillList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userId = 0;
}

<h1>@TempData["UserName"] - Skills</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillGoal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    userId = item.UserID;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @if (item.SkillLevel < item.SkillGoal)
                {
                    @if (item.SkillGoal != -1)
                    {
                        <span class="text-danger"><strong>@Html.DisplayFor(modelItem => item.SkillLevel)</strong></span>
                    }
                    else
                    {
                        <span class="text-danger"><strong>NO GOAL SET</strong></span>
                    }
                }
                else if (item.SkillLevel == item.SkillGoal || item.SkillLevel > item.SkillGoal)
                {
                    @if (item.SkillGoal != -1)
                    {
                        <span class="text-success"><strong>@Html.DisplayFor(modelItem => item.SkillLevel)</strong></span>
                    }
                    else
                    {
                        <span class="text-danger"><strong>NO GOAL SET</strong></span>
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillGoal)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="ListByDate" asp-route-id="@userId">Back to List</a>
</div>
