@model Login_System.ViewModels.AdvancedSearchVM
@{
    ViewData["Title"] = "AdvancedSearch";
   
}

<h1>AdvancedSearch</h1>

<form asp-controller="AdvancedSearch" asp-action="Index">

    <div class="row">
        <div class="col-sm">
            <label asp-for="Skill">@Resources.Skills.Index_Skill</label>
            @Html.DropDownListFor(x => x.Skill, new SelectList(Model.SkillList, "Value", "Text"), Resources.Resources.Skill_Dropdownlist, new { @class = "form-control col-sm" })
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <label asp-for="Certificate">@Resources.Resources.UCertificates_Index_Cert</label>
            @Html.DropDownListFor(x => x.Certificate, new SelectList(Model.CertificateList, "Value", "Text"), Resources.Resources.UCertificates_Create_DropDownDefault, new { @class = "form-control col-sm" })
        </div>
        <div class="col-sm"></div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-sm">
            min
            <input class="form-control" id="search-bar" type="number" name="Min" placeholder=@TempData["MinString"] value="@TempData["MinValue"]">
           
        </div>
        <div class="col-sm">
            max
            <input class="form-control" id="search-bar" type="number" name="Max" placeholder=@TempData["MaxString"] value="@TempData["MaxValue"]">
        </div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <label asp-for="Groups">@Resources.Groups.Index_Group</label>
            @Html.DropDownListFor(x => x.Groups, new SelectList(Model.GroupList, "Value", "Text"), Resources.Resources.Group_Dropdownlist, new { @class = "form-control col-sm" })
        </div>
        <div class="col-sm"><br /><button class="btn btn-info" type="submit"><i class="fas fa-search fa-fw"> </i> Search</button></div>
    </div><br />


          <table class="table">
              <thead>
                  <tr>
                      <th>A</th>
                      <th>B</th>
                      <th>C</th>
                      <th>D</th>
                  </tr>
              </thead>
              <tbody>
                  @if (Model.Users.Count() != 0)
                  {
                      @foreach (var user in Model.Users)
                      {
                          @if (ViewBag.CurrentCompany == user.Company || User.IsInRole("Superadmin"))
                          {
                              <tr>
                                  <td>@user.FirstName</td>
                                  <td>@user.LastName</td>
                                  <td>@user.Email</td>
                                  <td>@user.PhoneNumber</td>
                              </tr>
                          }
                          else
                          {
                              <tr>
                                  <td>@user.Company</td>
                                  <td>@user.Id</td>
                              </tr>
                         
                          }

                      }
                  }
                  </tbody>
              </table>
    <div>

    </div>
    </div>
    </div>
</form>

