@model Login_System.ViewModels.DashboardVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<div class="row">

    @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">

                    @if (ViewBag.CurrentCompany != null)
                    {
                        <h5 class="card-title"> @ViewBag.CurrentCompany</h5>
                    }

                    else
                    {
                        <h5 class="card-title">@Html.Raw("not found")</h5>
                    }
                    <p class="card-text">Here will be information about the company. <br />Tähän tulee infotekstiä yhtiöstä.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-transform: Capitalize">
                        <b>@ViewBag.CurrentUserFirstName @ViewBag.CurrentUserLastName</b>
                    </h5>
                         <p class="card-text">
                             <dl class="row">
                                 <dt id="cardProfile" class="col-sm-4">
                                     @Resources.Resources.Email:
                                 </dt>
                                 <dd class="col-sm-8">
                                     @ViewBag.CurrentUserEmail
                                 </dd>
                                 <dt id="cardProfile" class="col-sm-4">
                                     @Resources.Resources.Phone:
                                 </dt>
                                 <dd class="col-sm-8">
                                     @ViewBag.CurrentUserPhone
                                 </dd>
                                 @if (ViewBag.CurrentCompany != null)
                                 {
                                     <dt id="cardProfile" class="col-sm-4">
                                         @Resources.Resources.Company:
                                     </dt>
                                     <dd class="col-sm-8">
                                         @ViewBag.CurrentCompany
                                     </dd>
                                 }
                             </dl>
                         </p>
                    <a href="~/Views/AppUsers/Details" class="btn btn-primary">Profile</a>

                </div>
            </div>
        </div>
    }
</div>
<br />

<div class="row">
    @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Resources.Resources.Quick_Options</h5>
                    <p class="card-text">
                        Here will be quick options. <br />
                        Tähän tulee pikavalikko.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 id="multiHeader" class="card-title row"><p>@Resources.Skills.Index_Skill </p> <p>Progress</p> <p style="margin-right: 10px;">@Resources.SkillGoals.Index_Goal </p></h5>
                <p class="card-text">
                    @foreach (var item in Model.UserSkills)
                    {
                        <div>
                            <div class="row">
                                <span class="col-sm-3">@Html.DisplayFor(modelItem => item.SkillName)</span>
                                <span class="col-sm-1">@item.SkillLevel </span>
                                <div class="progress w-50" style="margin-top: 5px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:@(item.SkillLevel * 100 / 5)%">
                                        @(item.SkillLevel * 100 / 5)%
                                    </div>
                                </div><span class="col-sm-1" style="text-align:right;">5</span>

                            </div>
                        </div>
                    }
                </p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    @if (User.IsInRole("User"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Resources.Resources.UCertificates_Index_Cert</h5>
                    <p class="card-text">
                        @foreach (var item in Model.UserCertificates)
                        {
                        <p>@Html.DisplayFor(modelItem => item.CertificateName)</p>}
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Resources.Resources.CourseMem_Details_Title</h5>
                <p class="card-text">
                    @foreach (var item in Model.UserCourses)
                    {
                    <p>@Html.DisplayFor(modelItem => item.CourseName)</p>}
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <br />