@model Login_System.ViewModels.DashboardVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<div class="row">

    @if (User.IsInRole("Admin"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">

                    @if (ViewBag.CurrentCompany != null)
                    {
                        <h5 class="card-title"> @ViewBag.CurrentCompany</h5>
                    }

                    else
                    {
                        <h5 class="card-title">@Html.Raw("not found")</h5>
                    }
                    <p class="card-text">Here will be information about the company. <br />Tähän tulee infotekstiä yhtiöstä.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-transform: Capitalize">
                        <b>@ViewBag.CurrentUserFirstName @ViewBag.CurrentUserLastName</b>
                    </h5><br />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Resources.Resources.Email:
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.CurrentUserEmail
                        </dd>
                        <dt class="col-sm-4">
                            @Resources.Resources.Phone:
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.CurrentUserPhone
                        </dd>
                        @if (ViewBag.CurrentCompany != null)
                        {
                        <dt class="col-sm-4">
                            @Resources.Resources.Company:
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.CurrentCompany
                        </dd>
                        }
                    </dl>

                    <a href="~/Views/AppUsers/Details" class="btn btn-primary">Profile</a>

                </div>
            </div>
        </div>
    }
</div>
<br />

<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Resources.Resources.Quick_Options</h5>
                    <p class="card-text">
                    Here will be quick options. <br />
                    Tähän tulee pikavalikko.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Resources.Skills.Index_Skill</h5>
                    <p class="card-text">@foreach (var item in Model.UserSkills)
                    {<p>@Html.DisplayFor(modelItem => item.SkillName)</p>} </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
<br />
<div class="row">
    @if (User.IsInRole("User"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Resources.Resources.UCertificates_Index_Cert</h5>
                    <p class="card-text">
                        @foreach (var item in Model.UserCertificates)
                        {
                        <p>@Html.DisplayFor(modelItem => item.CertificateName)</p>} </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
    }
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Resources.Resources.CourseMem_Details_Title</h5>
                <p class="card-text">
                    @foreach (var item in Model.UserCourses)
                    {
                    <p>@Html.DisplayFor(modelItem => item.CourseName)</p>} </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<br />