@model Login_System.ViewModels.SkillCategoryVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="SkillCategory" asp-action="Index">@Resources.Resources.Layout_SkillCategory</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details | Yksityiskohdat</li>
    </ol>
</nav>
<hr />

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>  
                            @Resources.SkillCategories.Index_Title
                        </th>
                  
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SkillsInCategory)
                    {
                    <tr>
                        <td>
                            @item.Skill
                        </td>
                     
                    </tr>
                     }
                 </tbody>
            </table>
        </dd>
    </dl>
</div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel </button>
            <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit fa-fw"> </i> Edit</a>
        </div>
    </div>
</div>
