@model Login_System.ViewModels.SkillCategoryVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Groups.Edit_BTN_Save</h2>
<hr />
<div class="row">
    <div class="col-md-4">
      
            <fieldset>
                <form asp-action="Edit" asp-controller="SkillCategory" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="container-fluid p-0">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>@Resources.Skills.Index_Skill</label>
                            @Html.DropDownListFor(x => x.Skills, new SelectList(Model.SkillList, "Value", "Text"), new { @class = "skill-drop-down form-control col-sm", @multiple = "multiple" })
                        </div>
                        <div class="form-group">
                            <input type="hidden" value="@Model.Id" />
                            <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> @Resources.SkillCategories.Create_Cancel </button>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-check fa-fw"> </i> @Resources.Skills.Create_Submit</button>
                        </div>
                    </div>

                </form>
            </fieldset>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    var options = [];
    $(document).ready(function () {
        $('.skill-drop-down').select2({ templateSelection: formatSelection });
        //selectin options based on what skills are already in the category that is being edited
            @foreach(var item in Model.currentSkills)
            {
                    <text>
                        options.push('@item');
                    </text>
            }
        $('.skill-drop-down').select2().val(options)
        $('.skill-drop-down').trigger('change');
        });
    

    function formatSelection(selection) {
        //console.log($(selection).find('ul'))

        return selection.text;
    }

</script>