@model IEnumerable<Login_System.Models.UserCertificate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TempData["UserName"] - Certificates</h2>
<form asp-controller="UserCertificates" asp-action="Index">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder="Search for certificates...">
            </div>
            <div class="col-sm">
                <input class="btn btn-info" type="submit" value="Filter" />
                <a class="btn btn-primary" asp-action="Create" asp-route-id="@TempData["UserID"]">Add</a>
                @if  (TempData["Source"].ToString() == "shortcut")
                {
                    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Back</a>
                }
                else
                {
                    <a class="btn btn-danger" asp-action="Index" asp-controller="AppUsers">Back</a>
                }
            </div>
        </div>
    </div>
</form>
<hr />

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Certificate
            </th>
            <th>
                Grant Date
            </th>
            <th>
                Granted By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateName)
            </td>
            <td>
                @item.GrantDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
