@model IEnumerable<Login_System.Models.UserCertificate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@TempData["UserName"] @Resources.Resources.UCertificates_Index_Title</h2>
    <form asp-controller="UserCertificates" asp-action="Index">
        <div class="container-fluid p-0">
            <div class="row mb-4">
                <div class="col-sm">
                    <input class="form-control" type="text" name="SearchString" placeholder=@Resources.Resources.UCertificates_Index_Search>
                </div>
                <div class="col-sm">
                    <button class="btn btn-info" type="submit"><i class="fas fa-search fa-fw"> </i> @Resources.Resources.Employee_Index_Filter </button>
                    <a class="btn btn-primary" asp-action="Create" asp-route-id="@TempData["UserID"]"><i class="fas fa-plus-circle fa-fw"> </i> @Resources.Resources.UCertificates_Index_Add</a>
                    <a class="btn btn-primary" asp-action="Create" asp-controller="Certificates"><i class="fas fa-plus-circle fa-fw"> </i> @Resources.Certificates.Create_New_Btn</a>
                </div>
            </div>
        </div>
    </form>
    <hr />*@
<h1>@Resources.Resources.Layout_Usercertificates</h1>
<hr />
    <div class="card">
        <div class="card-header">
            <h5>
                @TempData["UserName"] @Resources.Resources.UCertificates_Index_Title
                <a class="btn btn-primary float-right" asp-action="Create" asp-controller="Certificates"><i class="fas fa-plus-circle fa-fw"> </i> @Resources.Certificates.Create_New_Btn</a>
            </h5>
        </div>
            <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>
                            @Resources.Resources.UCertificates_Index_Cert
                        </th>
                        <th>
                            @Resources.Resources.UCertificates_Index_GrantDate
                        </th>
                        <th>
                            @Resources.Resources.UCertificates_Index_Granter
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CertificateName)
                            </td>
                            <td>
                                @item.GrantDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Organization)
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-fw"> </i> @Resources.Resources.DELETE_Button</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

