@model Login_System.Models.Certificate

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.Layout_Certificates</h1>

@if (TempData.Keys.Contains("UserId") && TempData.Keys.Contains("id"))
{
    if (TempData["UserId"].ToString() == TempData["id"].ToString())
    {
    <nav class="breadcrumb_nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a asp-controller="Dashboard" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"> <a asp-controller="Certificates" asp-action="Index">@Resources.Resources.Layout_Certificates</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Resources.Certificates.Create_Title</li>
        </ol>
    </nav>
    }
    else
    {
    <nav class="breadcrumb_nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="AppUsers" asp-action="Index">@Resources.Resources.Layout_Employees</a></li>
            <li class="breadcrumb-item"><a asp-controller="UserCertificates" asp-action="Index" asp-route-id=@TempData["UserID"]>@TempData["UserName"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Resources.Certificates.Create_Title</li>
        </ol>
    </nav>
    }
}
<hr />
<div class="card-columns" style="column-count: 2;">
    <div class="card">
        <div class="card-header"><h5>@Resources.Certificates.Create_Title</h5></div>
        <div class="card-body">
            <div class="container-fluid p-0">
                <form asp-action="Create">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Organization" class="control-label"></label>
                        <input asp-for="Organization" class="form-control" />
                        <span asp-validation-for="Organization" class="text-danger"></span>
                    </div>
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-sm">
                                <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> @Resources.Resources.GENERAL_Back</button>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-check fa-fw"> </i> @Resources.Certificates.Create_Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h5>@Resources.Resources.Layout_info</h5></div>
        <div class="card-body">
            <p>
                @Resources.Certificates.Create_SubDesc1
            </p>
            <p>
                @Resources.Certificates.Create_SubDesc2
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
