@model Login_System.Models.Certificate

@{
    ViewData["Title"] = "Grant";
}

<h1>@Resources.Resources.Layout_Certificates</h1>
<hr />

<div class="card">
    <div class="card-header"><h5>@Resources.Resources.Certificate_granting</h5></div>
    <div class="card-body">
        <form asp-action="Grant">
            <dl class="row">
                <dd class="col-2">
                    <b>@Resources.Certificates.Edit_SkillName:</b>
                </dd>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dd class="col-2">
                    <b>@Resources.Certificates.MODEL_Organization:</b>
                </dd>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Organization)
                </dd>
                <dd class="col-12">
                    SELECT2 TÄHÄN.
                    <input class="form-control" />
                </dd>
            </dl>
            <div class="form-group">
                <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel </button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-file-contract fa-fw"> </i> @Resources.Resources.CertificateGrant</button>
            </div>
        </form>
    </div>
</div>

@*<form asp-action="Grant">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Organization" class="control-label"></label>
            <input asp-for="Organization" class="form-control" />
            <span asp-validation-for="Organization" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>*@


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
