@model Login_System.ViewModels.SkillCourseMemberVM
@{
    ViewData["Title"] = "AddUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.Layout_Courses</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"> <a asp-controller="SkillCourses" asp-action="Index">@Resources.Resources.Layout_Courses</a></li>
        <li class="breadcrumb-item"> <a asp-controller="SkillCourseMembers" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"].ToString()">@Resources.Resources.ListofCourseMembers</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.SkillCourseMembers.AddUsers_Title</li>
    </ol>
</nav>
<hr />

<div class="card">
    <div class="card-header"><h5>@Resources.SkillCourseMembers.AddUsers_Title</h5></div>
    <div class="card-body">
        <form asp-action="AddUsers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Users">@Resources.Resources.ListofCourseMembers</label>
            @Html.DropDownListFor(x => x.Users, new SelectList(Model.UsersList, "Value", "Text"), Resources.Resources.ListofCourseMembers, new { @class = "user form-control col-sm" , @multiple="multiple"})
            <input type="hidden" value="@Model.CourseID" asp-for="CourseID" />
            <br />
            <br />
            <button type="button" onclick="goBack()" class="btn btn-danger"><i class="fas fa-times fa-fw"> </i> Cancel </button>
            <button asp-route-id="@Model.CourseID" type="submit" class="btn btn-primary"><i class="fas fa-user-plus fa-fw"> </i> @Resources.SkillCourseMembers.AddUsers_Add</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $('.user').select2({
            placeholder: "@Resources.Resources.ListofCourseMembersPH"
        });
    });

</script>