@model Login_System.Models.SkillCourseMember

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@Resources.Resources.DELETE_Title</h1>

<h3>@Resources.Resources.DELETE_Desc</h3>
<div class="container-fluid p-0">
    <h4>@Resources.SkillCourseMembers.Delete_Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-sm">
                    <input type="hidden" asp-for="Id" />
                    <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel </button>
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash fa-fw"> </i>@Resources.Resources.DELETE_Button</button>
                </div>
            </div>
        </div>
    </form>
</div>
