@model IEnumerable<Login_System.ViewModels.SkillCourseMemberVM>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.CourseMem_Details_Title</h2>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-8 border-right border-dark">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.Resources.CourseMem_Details_Course
                        </th>
                        <th>
                            @Resources.Resources.Employee_Edit_Status
                        </th>
                        <th>
                            @Resources.Resources.CourseMem_Details_Completed
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @if (item.Status == "Completed")
                                {
                                    <span class="text-success"><strong>@Resources.Resources.CourseMem_Details_Completed</strong></span>
                                }
                                else
                                {
                                    @Resources.Resources.CourseMem_Details_NotCompleted
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h4>@Resources.Resources.CourseMem_Details_DescTitle</h4>
            <p>
                @Resources.Resources.CourseMem_Details_Desc
            </p>
        </div>
    </div>
</div>

<a class="btn btn-primary" asp-action="Index" asp-controller="AppUsers"><i class="fas fa-arrow-left fa-fw"> </i> @Resources.Resources.GENERAL_Back</a>
