@model List<Login_System.ViewModels.SkillCourseMemberVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
{
    <h2>
        @TempData["CourseName"] @Resources.SkillCourseMembers.Index_SubTitle
    </h2>
    <p>
        @Resources.SkillCourseMembers.Index_SubDescStart @TempData["CourseName"]@Resources.SkillCourseMembers.Index_SubDescEnd
    </p>
    <p>
        <strong>@Resources.SkillCourseMembers.Index_Enrolled</strong> @TempData["CourseMemberCount"] <br />
        <strong>@Resources.SkillCourseMembers.Index_CompletedStatus</strong> @TempData["CompletedCount"] <br />
        <strong>@Resources.SkillCourseMembers.Index_DroppedOut</strong> @TempData["DropoutCount"] <br />
    </p>

    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                {
                    <a class="btn btn-primary" asp-action="AddUsers" asp-route-id="@TempData["CourseId"]"><i class="fas fa-plus fa-fw"> </i> @Resources.SkillCourseMembers.Index_Create</a>
                }
                <a class="btn btn-primary" asp-action="Index" asp-controller="SkillCourses"><i class="fas fa-arrow-left fa-fw"> </i> @Resources.SkillCourseMembers.Index_BackCourse</a>
            </div>
        </div>
    </div>
}
else
{
    <h4>
        @TempData["CourseName"]
    </h4>
    <p>
        @Resources.SkillCourseMembers.Index_NotAdmin
    </p>
}

<hr />
<div class="container-fluid p-0">
    <div class="row">   
        <div class="col-sm-12 border-right border-dark">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.SkillCourseMembers.Index_User
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Status
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Completed
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Progress
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Grade
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.CompletionDate == DateTime.MinValue)

                                    {
                                        <p> - </p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                </td>
                                <td>
                                    @item.CourseGrade
                                </td>
                                <td>
                                    @if ((User.IsInRole("Admin") || User.IsInRole("Superadmin")) || item.UserName == User.Identity.Name)
                                    {
                                        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-fw"> </i> @Resources.SkillCourseMembers.Index_BTN_Edit</a><span> </span>
                                    }
                                </td>
                                <td>
                                    @if ((User.IsInRole("Admin") || User.IsInRole("Superadmin")) || item.UserName == User.Identity.Name)
                                    {
                                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.UserID" asp-route-source="SkillCourseMembers" asp-route-sourceId="@item.CourseName"><i class="fas fa-user-circle fa-fw"> </i> @Resources.SkillCourseMembers.Index_BTN_Details</a>
                                    }
                                </td>
                                <td>
                                    @if ((User.IsInRole("Admin") || User.IsInRole("Superadmin")) || item.UserName == User.Identity.Name)
                                    {
                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-fw"> </i> @Resources.SkillCourseMembers.Index_BTN_Delete</a>
                                    }
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                                    {
                                       <a class="btn btn-info btn-sm" asp-action="Grade" asp-route-id="@item.Id"><i class="fas fa-award fa-fw"> </i> @Resources.SkillCourseMembers.Index_Grade</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var item in Model.Where(x => x.UserName == User.Identity.Name))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.CompletionDate == DateTime.MinValue)

                                    {
                                        <p> - </p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                </td>
                                <td>
                                    @item.CourseGrade
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

