@model IEnumerable<Login_System.ViewModels.SkillCourseMemberVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TempData.Peek("CourseName"): Members</h2>

<div class="container-fluid p-0">
    <div class="row mb-4">
        <div class="col-sm">
	@if(User.IsInRole("Admin"))
	{
	    <a class="btn btn-primary" asp-action="Create">Create New</a>
	}        
            <a class="btn btn-danger" asp-action="Index" asp-controller="SkillCourses">Back to Courses</a>
        </div>
    </div>
</div>
<hr />
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-8 border-right border-dark">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Completed
                        </th>
                        <th>
                            Progress
                        </th>
                        <th>
                            Grade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (User.IsInRole("Admin"))
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.CompletionDate == DateTime.MinValue)

                                    {
                                        <p> - </p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                </td>
                                <td>
                                    @item.CourseGrade
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || item.UserName == User.Identity.Name)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                                        <a asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.UserID" asp-route-source="SkillCourseMembers" asp-route-sourceId="@item.CourseName">Details</a> <span> |</span>
                                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="text-info" asp-action="Grade" asp-route-id="@item.Id">Grade</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var item in Model.Where(x => x.UserName == User.Identity.Name))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.CompletionDate == DateTime.MinValue)

                                    {
                                        <p> - </p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                </td>
                                <td>
                                    @item.CourseGrade
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            @if (User.IsInRole("Admin"))
            {
                <h4>
                    @TempData["CourseName"] - Members
                </h4>
                <p>
                    This is a list of members currently attending the @TempData["CourseName"]-course.
                    You can view, edit, and delete members from the course.
                </p>
                <p>
                    <strong>Enrolled:</strong> @TempData["CourseMemberCount"] <br />
                    <strong>Completed:</strong> @TempData["CompletedCount"] <br />
                    <strong>Dropped out:</strong> @TempData["DropoutCount"] <br />
                </p>
            }
            else
            {
                <h4>
                    @TempData["CourseName"]
                </h4>
                <p>
                    You are currently viewing your membership information. You are not an administrator, and can only see your personal information.
                </p>
            }
        </div>
    </div>
</div>

