@model List<Login_System.ViewModels.SkillCourseMemberVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> @Resources.Resources.Layout_Courses</h1>
<hr />
    <div class="card-columns" style="column-count: 2;">
        <div class="card mb-3">

            @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
            {
                <div class="card-header">
                    <h5>
                        @TempData["CourseName"] - @Resources.Resources.Layout_info
                    </h5>
                </div>
                <div class="card-body">
                    <p>
                        @Resources.SkillCourseMembers.Index_SubDescStart @TempData["CourseName"]@Resources.SkillCourseMembers.Index_SubDescEnd
                    </p>
                    <p>
                        <strong>@Resources.SkillCourseMembers.Index_Enrolled</strong> @TempData["CourseMemberCount"] <br />
                        <strong>@Resources.SkillCourseMembers.Index_CompletedStatus</strong> @TempData["CompletedCount"] <br />
                        <strong>@Resources.SkillCourseMembers.Index_DroppedOut</strong> @TempData["DropoutCount"] <br />
                    </p>

                    <div class="container-fluid p-0">
                        <div class="row mb-4">
                            <div class="col-sm">
                                @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                                {
                                    <a class="btn btn-primary" asp-action="AddUsers" asp-route-id="@TempData["CourseId"]"><i class="fas fa-plus fa-fw"> </i> @Resources.SkillCourseMembers.Index_Create</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-header">
                    <h5>
                        @TempData["CourseName"]
                    </h5>
                </div>
                <div class="card-body">
                    <p>
                        @Resources.SkillCourseMembers.Index_NotAdmin
                    </p>
                </div>
            }
        </div>
    </div>
        <div class="card">
            <div class="card-header"><h5>@Resources.Resources.ListofCourseMembers</h5></div>
            <div class="card-body">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            @Resources.SkillCourseMembers.Index_User
                                        </th>
                                        <th>
                                            @Resources.SkillCourseMembers.Index_Status
                                        </th>
                                        <th>
                                            @Resources.SkillCourseMembers.Index_Completed
                                        </th>
                                        <th>
                                            @Resources.SkillCourseMembers.Index_Progress
                                        </th>
                                        <th>
                                            @Resources.SkillCourseMembers.Index_Grade
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                                <td>
                                                    @if (item.CompletionDate == DateTime.MinValue)

                                                    {
                                                        <p> - </p>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                                </td>
                                                <td>
                                                    @item.CourseGrade
                                                </td>
                                                <td>
                                                    @if ((User.IsInRole("Admin") || User.IsInRole("Superadmin")) || item.UserName == User.Identity.Name)
                                                    {
                                                        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-fw"> </i> @Resources.SkillCourseMembers.Index_BTN_Edit</a><span> </span>
                                                    }
                                                </td>
                                                <td>
                                                    @if ((User.IsInRole("Admin") || User.IsInRole("Superadmin")) || item.UserName == User.Identity.Name)
                                                    {
                                                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.UserID" asp-route-source="SkillCourseMembers" asp-route-sourceId="@item.CourseName"><i class="fas fa-user-circle fa-fw"> </i> @Resources.SkillCourseMembers.Index_BTN_Details</a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                                                    {
                                                        <a class="btn btn-info btn-sm" asp-action="Grade" asp-route-id="@item.Id"><i class="fas fa-award fa-fw"> </i> @Resources.SkillCourseMembers.Index_Grade</a>
                                                    }
                                                </td>
                                                <td>
                                                    @if ((User.IsInRole("Admin") || User.IsInRole("Superadmin")) || item.UserName == User.Identity.Name)
                                                    {
                                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-fw"> </i> @Resources.SkillCourseMembers.Index_BTN_Delete</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.Where(x => x.UserName == User.Identity.Name))
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                                <td>
                                                    @if (item.CompletionDate == DateTime.MinValue)

                                                    {
                                                        <p> - </p>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                                </td>
                                                <td>
                                                    @item.CourseGrade
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

