@model IEnumerable<Login_System.ViewModels.SkillCourseMemberVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TempData.Peek("CourseName"): Members</h2>

<div class="container-fluid p-0">
    <div class="row mb-4">
        <div class="col-sm">
            <a class="btn btn-primary" asp-action="Create">Create New</a>
            <a class="btn btn-danger" asp-action="Index" asp-controller="SkillCourses">Back to Courses</a>
        </div>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
              Username
            </th>
            <th>
              Status
            </th>
            <th>
              Completion date
            </th>
            <th>
              Days completed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.CompletionDate == DateTime.MinValue)

                {
                    <p>not completed</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
            </td>
            <td>
	@if(User.IsInRole("Admin") || item.UserName == User.Identity.Name)
	{
	    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
	}
                <a asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.UserID" asp-route-source="SkillCourseMembers">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
