@model IEnumerable<Login_System.ViewModels.SkillCourseMemberVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TempData.Peek("CourseName")@Resources.SkillCourseMembers.Index_Title</h2>

<div class="container-fluid p-0">
    <div class="row mb-4">
        <div class="col-sm">
	@if(User.IsInRole("Admin"))
	{
            <a class="btn btn-primary" asp-action="Create">@Resources.SkillCourseMembers.Index_Create</a>
	}        
            <a class="btn btn-primary" asp-action="Index" asp-controller="SkillCourses">@Resources.SkillCourseMembers.Index_BackCourse</a>
        </div>
    </div>
</div>
<hr />
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-8 border-right border-dark">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.SkillCourseMembers.Index_User
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Status
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Completed
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Progress
                        </th>
                        <th>
                            @Resources.SkillCourseMembers.Index_Grade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (User.IsInRole("Admin"))
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.CompletionDate == DateTime.MinValue)

                                    {
                                        <p> - </p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                </td>
                                <td>
                                    @item.CourseGrade
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || item.UserName == User.Identity.Name)
                                    {
                                        <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">@Resources.SkillCourseMembers.Index_BTN_Edit</a><span> </span>
                                        </td>
                                        <td>
                                        <a asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.UserID" asp-route-source="SkillCourseMembers" asp-route-sourceId="@item.CourseName">@Resources.SkillCourseMembers.Index_BTN_Details</a> <span> </span>
                                        </td>
                                        <td>
                                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">@Resources.SkillCourseMembers.Index_BTN_Delete</a>
                                        </td>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <span>| </span><a class="text-info" asp-action="Grade" asp-route-id="@item.Id">@Resources.SkillCourseMembers.Index_Grade</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var item in Model.Where(x => x.UserName == User.Identity.Name))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.CompletionDate == DateTime.MinValue)

                                    {
                                        <p> - </p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CompletionDate)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaysCompleted) / @Html.DisplayFor(modelItem => item.CourseLength)
                                </td>
                                <td>
                                    @item.CourseGrade
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            @if (User.IsInRole("Admin"))
            {
            <h4>
                @TempData["CourseName"] @Resources.SkillCourseMembers.Index_SubTitle
            </h4>
            <p>
                @Resources.SkillCourseMembers.Index_SubDescStart @TempData["CourseName"]@Resources.SkillCourseMembers.Index_SubDescEnd
            </p>
                <p>
                    <strong>@Resources.SkillCourseMembers.Index_Enrolled</strong> @TempData["CourseMemberCount"] <br />
                    <strong>@Resources.SkillCourseMembers.Index_CompletedStatus</strong> @TempData["CompletedCount"] <br />
                    <strong>@Resources.SkillCourseMembers.Index_DroppedOut</strong> @TempData["DropoutCount"] <br />
                </p>
            }
            else
            {
                <h4>
                    @TempData["CourseName"]
                </h4>
                <p>
                    @Resources.SkillCourseMembers.Index_NotAdmin
                </p>
            }
        </div>
    </div>
</div>

