@model IEnumerable<Login_System.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Groups</h2>
<h4>@TempData["ActionResult"]</h4>

<form asp-controller="Groups" asp-action="Index">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder="Search for user groups...">
            </div>
            <div class="col-sm">
                <input class="btn btn-info" type="submit" value="Filter" />
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </div>
        </div>
    </div>   
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Index" asp-controller="GroupMembers" asp-route-id="@item.id">Members</a> |
                <a asp-action="Statistics" asp-route-id="@item.id">Statistics</a> |
                <a asp-action="Index" asp-controller="SkillGoals" asp-route-name="@item.name">Goals</a> |
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
