@model IEnumerable<Login_System.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.Companies_index</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Companies_index</li>
    </ol>
</nav>
<hr />
<div class="card">
    <div class="card-header">
        <h5>@Resources.Resources.List_Companies
            @if (User.IsInRole("Superadmin"))
            {
                <span class="float-right">
                    <a class="btn btn-primary" asp-action="Create"> <i class="fas fa-plus fa-fw"> </i> @Resources.Resources.Create_company</a>
                </span>
            }
        </h5>
    </div><div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div>
                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info fa-fw"> </i> @Resources.Resources.GENERAL_Info</a>
                                <a class="btn btn-primary btn-sm" asp-action="CompanyGoals" asp-route-cid="@item.Id"><i class="fas fa-trophy fa-fw"> </i> @Resources.Resources.SetGroupGoals</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>