@model Login_System.Models.GroupMember

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.DELETE_Title</h1>

<h3>@Resources.Resources.DELETE_Desc</h3>
<div>
    <h4>@Resources.Resources.GroupMember_Delete_Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-outline-primary" asp-action="Index" asp-route-id="@Model.GroupID"><i class="fas fa-arrow-left fa-fw"> </i> @Resources.Resources.DELETE_Back</a>
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash fa-fw"> </i> @Resources.Resources.DELETE_Button</button>
    </form>
</div>
