@model Login_System.Models.GroupMember

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@TempData["GroupName"]</h2>
<form asp-controller="GroupMembers" asp-action="Index">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder=@Resources.Groups.Members_Index_Search>
            </div>
            <div class="col-sm">
                <button class="btn btn-info" type="submit" asp-route-id ="@TempData["GroupID"]"><i class="fas fa-search fa-fw"> </i> @Resources.Groups.Members_Index_BTN_Search </button>
                <a class="btn btn-info" asp-action="Create" asp-route-id="@TempData["GroupID"]" asp-route-group="@TempData["GroupName"]" asp-route-source="edit"><i class="fas fa-edit fa-fw"> </i> @Resources.Groups.Members_Index_BTN_EditMembers</a>
            </div>
        </div>
    </div>
</form>
<hr />*@
<h1>@Resources.Resources.Layout_groupmembers</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Groups" asp-action="Index">@Resources.Resources.Layout_Groups</a></li>
        <li class="breadcrumb-item"><a asp-controller="Groups" asp-action="Statistics" asp-route-id=@ViewContext.RouteData.Values["id"].ToString()>@TempData["GroupName"] @Resources.Groups.Stats_Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Layout_groupmembers</</li>
    </ol>
</nav>
<hr />
    <div class="card-columns" style="column-count: 2;">
        <div class="card">
            <div class="card-header">
                <h5>
                    @Resources.Groups.Members_Index_SubTitle @TempData["GroupName"]
                    <a class="btn btn-info float-right" asp-action="Create" asp-route-id="@TempData["GroupID"]" asp-route-group="@TempData["GroupName"]" asp-route-source="edit"><i class="fas fa-edit fa-fw"> </i> @Resources.Groups.Members_Index_BTN_EditMembers</a>
                </h5>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            First Name
                                        </th>
                                        <th>
                                            Last Name
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Members)
                                    {
                                        <tr>
                                            <td>
                                                @item.FirstName
                                            </td>
                                            <td>
                                                @item.LastName
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.Id" asp-route-source="GroupMembers"> <i class="fas fa-user-circle fa-fw"> </i> @Resources.Groups.Members_Index_BTN_Details</a>
                                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-fw"> </i> @Resources.Groups.Members_Index_BTN_Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        @*<div class="card">
            <div class="card-header"><h5>@Resources.Groups.Members_Index_SubTitle @TempData["GroupName"]</h5></div>
            <div class="card-body">
                <p>@Resources.Groups.Members_Index_SubDesc @Model.Members.Count()</p>
            </div>
        </div>*@
    </div>

