@model IEnumerable<Login_System.Models.GroupMember>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TempData["GroupName"]</h2>
<form asp-controller="GroupMembers" asp-action="Index">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder=@Resources.Groups.Members_Index_Search>
            </div>
            <div class="col-sm">
                <input class="btn btn-info" type="submit" value=@Resources.Groups.Members_Index_BTN_Search asp-route-id="@TempData["GroupID"]" />
                <a class="btn btn-info" asp-action="Create" asp-route-id="@TempData["GroupID"]" asp-route-group="@TempData["GroupName"]" asp-route-source="edit">@Resources.Groups.Members_Index_BTN_EditMembers</a>
                <a class="btn btn-danger" asp-action="Statistics" asp-controller="Groups" asp-route-id="@TempData["GroupID"]">@Resources.Resources.GENERAL_Back</a>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 border-right border-dark">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.UserID" asp-route-source="GroupMembers">@Resources.Groups.Members_Index_BTN_Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Groups.Members_Index_BTN_Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h4>@Resources.Groups.Members_Index_SubTitle @TempData["GroupName"]</h4>
            <p>@Resources.Groups.Members_Index_SubDesc @Model.Count()</p>
        </div>
    </div>
</div>

