@model Login_System.Models.Lesson

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.Layout_Lessons</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="SkillCourses" asp-action="Index">@Resources.Resources.Layout_Courses</a></li>
        <li class="breadcrumb-item"><a asp-controller="Lessons" asp-action="Index" asp-route-id=@Model.CourseID>@Resources.Resources.Layout_Lessons - @Model.CourseName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Employee_Index_Details</li>
    </ol>
</nav>
<hr />
<div class="card">
    <div class="card-header"><h5>@Resources.Resources.Employee_Index_Details</h5></div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Resources.Courses.Index_CourseName
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseName)
            </dd>
            <dt class="col-sm-2">
                @Resources.Lessons.LessonName
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LessonName)
            </dd>
            <dt class="col-sm-2">
                @Resources.Resources.Date_layout
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Resources.Resources.Location_layout
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
        </dl>
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit fa-fw"> </i> Edit</a>
    </div>
</div>
@*<div>
    <button class="btn btn-outline-primary btn-sm" onclick="goBack()"><i class="fas fa-left-arrow fa-fw"> </i> Back to List</button>
    
</div>*@
