@model Login_System.ViewModels.CreateLessonVM

@{
  
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = Model.Date.Day + "." + Model.Date.Month + "." + Model.Date.Year;

}
<script type="text/javascript" src="~/lib/jquery/dist/datepicker-en-GB.js">
</script>
<script>
    $(function () {
        $("#lessonDate").datepicker({
            dateFormat: "dd.mm.yy"
        });
    });

</script>
<h1>@Resources.Resources.Layout_Lessons</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="SkillCourses" asp-action="Index">@Resources.Resources.Layout_Courses</a></li>
        <li class="breadcrumb-item"><a asp-controller="Lessons" asp-action="Index" asp-route-id=@Model.CourseID>@Resources.Resources.Layout_Lessons - @Model.CourseName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Employee_Index_Edit</li>
    </ol>
</nav>
<hr />


<div class="card">
    <div class="card-header"><h5>@Resources.Resources.Employee_Index_Edit</h5></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CourseID" value="@Model.CourseID" />
                    <input hidden asp-for="LessonId" value="@Model.LessonId" />
                    <div class="form-group">
                        <label asp-for="CourseName" class="control-label">@Resources.Courses.Index_CourseName</label>
                        <input asp-for="CourseName" class="form-control" />
                        <span asp-validation-for="CourseName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LessonName" class="control-label">@Resources.Lessons.LessonName</label>
                        <input asp-for="LessonName" class="form-control" />
                        <span asp-validation-for="LessonName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <p>@Resources.Lessons.Create_Date <input class="form-control" asp-for="DateString" type="text" value ="@date" id="lessonDate" /></p>
                        <span asp-validation-for="DateString" class="text-danger"></span>
                    </div>
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="HourString" class="control-label">@Resources.Lessons.Create_Hour</label>
                                    <input type="number" min="0" max="23" asp-for="HourString" class="form-control" />
                                    <span asp-validation-for="HourString" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="MinuteString" class="control-label">@Resources.Lessons.Create_Minute</label>
                                    <input type="number" min="0" max="59" asp-for="MinuteString" class="form-control" />
                                    <span asp-validation-for="MinuteString" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label">@Resources.Resources.Location_layout</label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-fw"> </i> @Resources.Resources.Employee_Edit_Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


