@model Login_System.Models.Lesson

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.Layout_Lessons</h1>
<hr />
<div class="card">
    <div class="card-header">
        <h5>
            @Resources.Resources.Layout_Lessons - @ViewBag.CourseName
            <a asp-action="Create" class="btn btn-primary float-right" asp-route-id="@Model.CourseID"><i class="fas fa-plus fa-fw"> </i> @Resources.Courses.Index_Create</a>

        </h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Resources.Courses.Index_CourseName
                    </th>
                    <th>
                        @Resources.Lessons.LessonName
                    </th>
                    <th>
                        @Resources.Resources.Date_layout
                    </th>
                    <th>
                        @Resources.Resources.Location_layout
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LessonList)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Attend" asp-route-id="@item.Id"><i class="fas fa-calendar-check fa-fw"> </i>@Resources.Lessons.Model_attend</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info fa-fw"> </i>@Resources.Resources.Layout_info</a>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-fw"> </i>@Resources.Resources.Employee_Index_Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-times fa-fw"> </i>@Resources.Resources.DELETE_Title</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
