<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login_System</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" runat="server" />
    <link rel="stylesheet" href="~/css/site.css" runat="server" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" runat="server">
    <link rel="stylesheet" href="~/css/jquery-ui-timepicker-addon.css" runat="server" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.13.0-web/css/all.css" runat="server">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui-timepicker-addon.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="border border-secondary">
                    <button class="btn" asp-controller="Home" asp-action="Index">
                        @Resources.Resources.Layout_Home
                    </button>
                </div>
              <!--<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 50px; height: auto" src="~/img/avenla-logo.png" /> AVENLA Oy</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="text-dark btn" asp-area="" asp-controller="AppUsers" asp-action="Index">@Resources.Resources.Layout_Employees</a>
                            </li>
                            <li>
                                <a class="text-dark btn" asp-area="" asp-controller="SkillCourses" asp-action="Index">@Resources.Resources.Layout_Courses</a>
                            </li>

                        }
                        <li class="nav-item">
                          <!--<a class="text-dark btn" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                        {
                            <li class="nav-item dropdown show">
                                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Resources.Layout_Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListRoles">@Resources.Resources.Layout_Roles</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Groups" asp-action="Index">@Resources.Resources.Layout_Groups</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Skills" asp-action="Index">@Resources.Resources.Layout_Skills</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Certificates" asp-action="Index">@Resources.Resources.Layout_Certificates</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AdvancedSearch" asp-action="Index">@Resources.Resources.Advanced_Search</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
             Piilaakso Academy Oy &copy; 2020 <a asp-area="" asp-controller="Home" asp-action="Privacy">@Resources.Resources.Layout_Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
