@using Microsoft.AspNetCore.Identity
@using Login_System.Models
@inject UserManager<AppUser> UserManager
@inject GeneralDataContext _context

@{
    Task<AppUser> GetCurrentUserAsync() => UserManager.GetUserAsync(User);
    var user = await GetCurrentUserAsync();
    if (User?.Identity.IsAuthenticated == true)
    {
        try
        {
            AppUser tempUser = await UserManager.FindByIdAsync(user.Id.ToString());
            TempData["id"] = tempUser.Id;
            var companyID = tempUser.Company;
            List<Company> companyList = new List<Company>();

            string companyName = _context.Company.FirstOrDefault(x => x.Id == companyID).Name;
            ViewBag.CompanyName = companyName;
            foreach(var company in _context.CompanyMembers.Where(x=> x.UserId == tempUser.Id))
            {
                companyList.Add(_context.Company.FirstOrDefault(x => x.Id == company.CompanyId));
            }

            ViewBag.Companies = companyList;
        }
        catch(Exception e)
        {

        }


    }
}

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login_System</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" runat="server" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" runat="server">
    <link rel="stylesheet" href="~/css/jquery-ui-timepicker-addon.css" runat="server" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.13.0-web/css/all.css" runat="server">
    <link rel="stylesheet" href="~/lib/bootstrap-select-1.13.14/dist/css/bootstrap-select.css" runat="server" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" runat="server" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" runat="server"></script>
    <script type="text/javascript" src="~/lib/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js" runat="server"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui-timepicker-addon.js"></script>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" id="navigationBar">
            <div class="container">
                    <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home fa-lg"> </i>
                    </a>
                <!--<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 50px; height: auto" src="~/img/avenla-logo.png" /> AVENLA Oy</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <div>
                                    <form id="SetActiveCompany" asp-controller="Home"
                                          asp-action="SetActiveCompany" asp-route-returnUrl="@Context.Request.Path"
                                          method="post" class="form-horizontal" role="form">

                                        <select class="selectpicker form-control form-control-sm" name="company"
                                                onchange="this.form.submit();" 
                                                >
                                            @if (ViewBag.Companies != null)
                                            {
                                                @foreach (var company in ViewBag.Companies)
                                                {
                                                    <option value="@company.Id">@company.Name</option>
                                                }
                                            }

                                        </select>

                                    </form>
                                </div>
                            </li>

                            <li>
                                <a class="text-dark btn" asp-area="" asp-controller="AppUsers" asp-action="Index">@Resources.Resources.Layout_Employees</a>
                            </li>
                            <li>
                                <a class="text-dark btn" asp-area="" asp-controller="SkillCourses" asp-action="Index">@Resources.Resources.Layout_Courses</a>
                            </li>

                        }
                        <li class="nav-item">
                            <!--<a class="text-dark btn" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
                        {
                            <li>
                                <a class="text-dark btn" asp-area="" asp-controller="AdvancedSearch" asp-action="Index">@Resources.Resources.Advanced_Search</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Piilaakso Academy Oy &copy; 2020 <a asp-area="" asp-controller="Home" asp-action="Privacy">@Resources.Resources.Layout_Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
