@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown show">
        <a class="btn dropdown-toggle text-dark" href="#" role="button" id="nameDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hello @TempData.Peek("UserFullNames")!
        </a>
        <div class="dropdown-menu" aria-labelledby="nameDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="AppUsers" asp-action="Details" asp-route-id="@ViewBag.UserID">Profile</a>
            <a class="dropdown-item" asp-area="" asp-controller="UserSkills" asp-action="SkillList" asp-route-id="@ViewBag.UserID" asp-route-name="latest">Skills</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="@Url.Action("Logout", "Account")">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="@Url.Action("Login", "Account")">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="@Url.Action("Register", "Account")">Register</a>
    </li>
}
</ul>
