@model Login_System.ViewModels.SkillCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.tiny.cloud/1/4i5x5wj11bwcuimuna5buqs1c5c0i68ltdpfz8enf9e8pggw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#skill'
    });
</script>

<h1>@Resources.Resources.Layout_Skills</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"> <a asp-controller="Skills" asp-action="Index">@Resources.Resources.Layout_Skills</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Skills.Create_Title</li>
    </ol>
</nav>
<hr />
<div class="card">
    <div class="card-header">
        <h5>@Resources.Skills.Create_Title</h5>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Skill" class="control-label">@Resources.Skills.Edit_SkillName</label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6" id="test">
                <label asp-for="SkillCategory" class="control-label">@Resources.SkillCategories.Index_Title</label>
                @Html.DropDownListFor(x => x.SkillCategory, new SelectList(Model.SkillCategoryList, "Value", "Text"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple", @style = "width: 100%;" })
                <!--<dl class="row" id="skillDropdown"></dl>-->
                <!--<input type="button" class="btn btn-primary" id="btnAdd" onclick="AddDropDownList()" value="Add DropDownList" />-->
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Description" class="control-label">@Resources.Skills.Edit_SkillDesc</label>
                @Html.TextAreaFor(x => x.Description, new { @id = "skill" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel </button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-check fa-fw"> </i> @Resources.Skills.Create_Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "@Resources.SkillCategories.Create_SelectCategory"
            });
        });
    </script>
}
