@model Login_System.Models.Skills

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.DELETE_Title</h1>

<h3>@Resources.Resources.DELETE_Desc</h3>
<div>
    <h4>@Resources.Skills.Delete_Skill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skill)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-sm">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value=@Resources.Resources.DELETE_Button class="btn btn-danger" />
                    <a class="btn btn-info" asp-action="Index">@Resources.Resources.GENERAL_Back</a>
                </div>
            </div>
        </div>
        
    </form>
</div>
