@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using Login_System.ViewModels
@model Login_System.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.Login_Login</h2>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-6 border-right border-dark">
            <fieldset>
                <form asp-action="Login" asp-controller="Account">
                    <div asp-validation-summary="All" class="input-validation-error text-danger"></div>
                    <div class="form-group">
                        <div>
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder=@Resources.Resources.Email />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder=@Resources.Resources.Password />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <p>
                        <button class="btn btn-primary" type="submit">@Resources.Resources.Login_Login</button>
                    </p>
                    <div class="col-sm">
                        <p>
                            <a asp-action="ForgotPassword">@Resources.Resources.Login_ForgotPassword</a>
                        </p>
                    </div>
                </form>
            </fieldset>
        </div>
   
        <div class="col-sm-6">
            <h4>@Resources.Resources.Login_Title</h4>
            <p>
                @Resources.Resources.Login_Desc
            </p>
        </div>
    </div>
   
</div>



