@model EditRole
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Admin.EditRole_Title</h2>

<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control" />
            <input hidden asp-for="OldName" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button onclick="goBack()"  class="btn btn-outline-primary"><i class="fas fa-times fa-fw"> </i> Cancel </button>
            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square fa-fw"> </i> @Resources.Admin.EditRole_BTN_Update</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>@Resources.Admin.EditRole_SubTitle</h3>
        </div>
        <div class="card-body">
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <h5 class="card-title">@user</h5>
                }
            }
            else
            {
        <h5 class="card-title">@Resources.Admin.EditRole_NoUsers</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="EditUsersInRole" asp-controller="Admin" asp-route-roleId="@Model.Id" class="btn btn-primary" style="width:auto">@Resources.Admin.EditRole_BTN_AddOrRemove</a>
        </div>
    </div>
</form>