@model List<LessonUser>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Lessons.User_Create_Title</h2>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-group container-fluid pl-4">
                        <input hidden asp-for="@Model[i].MemberID" />
                        <input hidden asp-for="@Model[i].LessonID" />
                        <input hidden asp-for="@Model[i].MemberName" />
                        <input hidden asp-for="@Model[i].Attending" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].IsSelected">
                            @Model[i].MemberName
                        </label>
                    </div>
                }
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-sm">
                            <a class="btn btn-outline-primary" asp-action="Index" asp-controller="SkillCourses"><i class="fas fa-left-arrow fa-fw"> </i> @Resources.Resources.GENERAL_Back</a>
                            <button asp-route-id="@Model[0].LessonID" type="submit" class="btn btn-primary"><i class="fas fa-check fa-fw"> </i> @Resources.Lessons.User_Create_BTN_Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


