@model Login_System.Models.LessonUser

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Resources.DELETE_Title</h1>

<h3>@Resources.Resources.DELETE_Desc</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attending)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash fa-fw"> </i> @Resources.Resources.DELETE_Button</button>
        <a class="btn btn-primary" asp-action="Index"><i class="fas fa-arrow-left fa-fw"> </i> @Resources.Resources.GENERAL_Back</a>
    </form>
</div>
