@model Login_System.Models.LessonUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LessonUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attending)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-outline-primary btn-sm" onclick="goBack()"><i class="fas fa-arrow-left fa-fw"> </i> Back to List</button>
    <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit fa-fw"> </i> Edit</a>
</div>
