@model IEnumerable<Login_System.Models.LessonUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Lessons.User_Index_Title</h2>
<hr />
<p>
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus fa-fw"> </i> @Resources.Lessons.User_Index_BTN_Create</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="SkillCourses"><i class="fas fa-arrow-left fa-fw"> </i> @Resources.Resources.GENERAL_Back</a>
</p>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-4 border-right border-secondary">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MemberName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemberName)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="AppUsers" asp-route-id="@item.MemberID" asp-route-source="lesson" asp-route-sourceId="@item.LessonID"><i class="fas fa-user-circle fa-fw"> </i> @Resources.Lessons.User_Index_BTN_Details</a> 
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-fw"> </i> @Resources.Lessons.User_Index_BTN_Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


