@model Login_System.ViewModels.CreateSkillGoalsVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SkillGoals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.SkillCounter; i++)
            {
                <p>
                    <label>@Model.SkillGoals[i].SkillName</label>
                    <input hidden asp-for="@Model.SkillGoals[i].SkillName" />
                    <input asp-for="@Model.SkillGoals[i].SkillGoal" class="form-control" type="number" min="0" max="5" />
                    <span asp-validation-for="@Model.SkillGoals[i].SkillGoal"></span>
                </p>
            }
            <p>
                <input hidden asp-for="@Model.SkillCounter" value="@Model.SkillCounter" />
            </p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
