@model Login_System.ViewModels.SkillGoalIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>@Resources.Resources.Layout_Groups</h1>
    <nav class="breadcrumb_nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Groups" asp-action="Index">@Resources.Resources.Layout_Groups</a></li>
            <li class="breadcrumb-item"><a asp-controller="Groups" asp-action="Statistics">@TempData["GroupName"] @Resources.Groups.Stats_Title</a></li>
            <li class="breadcrumb-item active" aria-current="page">@TempData["GroupName"] @Resources.Resources.SkillGoals_Breadcrumb</li>
        </ol>
    </nav>
<hr />
    <div class="card">
        <div class="card-header"><h5>@TempData.Peek("GroupName"): @Resources.SkillGoals.Index_Title @TempData.Peek("LatestDate")</h5></div>
        <div class="card-body">
            <form id="dateForm" asp-controller="SkillGoals" asp-action="RefreshIndex">
                <div class="container-fluid p-0">
                    <div class="row mb-4">
                        <div class="col-sm">
                            <a class="btn btn-primary" asp-action="Create" asp-route-id="@TempData.Peek("GroupID")"><i class="fas fa-trophy fa-fw"> </i> @Resources.Resources.SetGroupGoals</a>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Resources.SkillGoals.Index_Skill
                        </th>
                        <th>
                            @Resources.SkillGoals.Index_Goal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Goals)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SkillName)
                            </td>
                            <td>
                                @if (item.LatestGoal == -1)
                                {
                                    <span class="text-danger">@Resources.SkillGoals.Index_NoGoal</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.LatestGoal)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function reloadPage() {
            document.getElementById("dateForm").submit();
        }
    </script>
}
