@model Login_System.ViewModels.SkillGoalIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-controller="SkillGoals" asp-action="RefreshIndex">
    @Html.DropDownListFor(x => x.SelectedDate, new SelectList(Model.SkillDates, "Value", "Text"), "Select Date")
    <input hidden asp-for="@Model.GroupName"  value="@TempData.Peek("GroupName")"/>
    <input type="submit" value="Refresh" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Skill
            </th>
            <th>
                Goal
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Goals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestGoal)
            </td>
        </tr>
}
    </tbody>
</table>
