@model Login_System.ViewModels.SkillGoalIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TempData.Peek("GroupName"): Goals for @TempData.Peek("LatestDate")</h2>
<h3 class="text-info">@TempData["ActionResult"]</h3>

<form id="dateForm" asp-controller="SkillGoals" asp-action="RefreshIndex">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-sm">
                @Html.DropDownListFor(x => x.SelectedDate, new SelectList(Model.SkillDates, "Value", "Text"), "Select Date", new { @class = "form-control col-sm", @onchange = "reloadPage()" })
                <input hidden asp-for="@Model.GroupName" value="@TempData.Peek("GroupName")" />
            </div>
            <div class="col-sm">
                <a class="btn btn-primary" asp-action="Create" asp-route-name="@TempData.Peek("GroupName")">Create New</a>
            </div>
        </div>
    </div>    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Skill
            </th>
            <th>
                Goal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Goals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillName)
                </td>
                <td>
                    @if (item.LatestGoal == -1)
                    {
                        <span class="text-danger">NO GOAL</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.LatestGoal)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="Groups">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function reloadPage() {
            document.getElementById("dateForm").submit();
        }
    </script>
}
