@model Login_System.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 border-right border-dark">
            <h4>
                @Resources.Resources.Employee_Create_Title
            </h4>
            <hr />
            <fieldset>
                <form asp-action="Create" asp-controller="AppUsers">
                    <div asp-validation-summary="All" class="input-validation-error"></div>
                    <div class="form-group">
                        <label asp-for="EMail"></label>
                        <input asp-for="EMail" class="form-control" placeholder=@Resources.Resources.Email autofocus />
                        <span asp-validation-for="EMail"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" placeholder=@Resources.Resources.FirstName />
                        <span asp-validation-for="FirstName"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" placeholder=@Resources.Resources.LastName />
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder=@Resources.Resources.Phone />
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder=@Resources.Resources.Password />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder=@Resources.Resources.ConfirmPassword />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn btn-primary" type="submit"><i class="fas fa-file-invoice fa-fw"> </i> @Resources.Resources.Employee_Create_Register</button>
                                <a class="btn btn-primary" asp-action="Index"><i class="fas fa-arrow-left fa-fw"> </i> @Resources.Resources.Employee_Create_Back</a>
                            </div>
                        </div>

                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-sm-8">
            <h4>@Resources.Resources.Employee_Create_DescTitle</h4>
            <p>
                @Resources.Resources.Employee_Create_Desc
            </p>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
