@model Login_System.ViewModels.AppUserVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Resources.Resources.Layout_Profile    </h1>
@if (TempData.Keys.Contains("UserId") && TempData.Keys.Contains("id"))
{
    @if (TempData["UserId"].ToString() == TempData["id"].ToString())
    {
        <nav class="breadcrumb_nav" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Layout_Profile</li>
            </ol>
        </nav>
    }
    else
    {
        <nav class="breadcrumb_nav" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="AppUsers" asp-action="Index">@Resources.Resources.Layout_Employees</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["UserFullName"]</li>
            </ol>
        </nav>
    }
}
    <hr />
    <!--PROFILE CARD-->
    <div class="card-columns" style="column-count: 2;">
        <div class="card">
            <h5 class="card-header">@Resources.Resources.UserInfo_profile</h5>
            <div class="card-body ">
                <div>
                    <dl class="row">
                        <dt id="Profile" class="col-sm-4">
                            @Resources.Resources.FirstName
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt id="Profile" class="col-sm-4">
                            @Resources.Resources.LastName
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt id="Profile" class="col-sm-4">
                            @Resources.Resources.Email
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt id="Profile" class="col-sm-4">
                            @Resources.Resources.Phone
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                        <dt id="Profile" class="col-sm-4">
                            @Resources.Resources.Employee_Edit_Status
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.EmpStatus)
                        </dd>
                        <dt id="Profile" class="col-sm-4">
                            @Resources.Resources.Company
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.CurrentCompany
                        </dd>
                        <dt id="Profile" class="col-sm-4">
                            @Resources.Resources.Layout_Groups
                        </dt>
                        <dd class="col-sm-8">
                            @foreach (var group in Model.UserGroups)
                            {
                                @group @Html.Raw(", ");
                            }
                        </dd>
                    </dl>
                    <div>
                        @if (User.IsInRole("Admin") || User.IsInRole("Superadmin") || User.Identity.Name == Model.UserName)
                        {
                            <a class="btn btn-info mr-1" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit fa-fw"> </i> @Resources.Resources.Employee_Index_Edit</a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!--CERTIFICATES CARD-->
        <div class="card">
            <h5 class="card-header">@Resources.Certificates.Index_Title</h5>
            <div class="card-body">
                <dl class="row">
                    @foreach (var item in Model.UserCertificates)
                    {
                        <dd class="col-sm-12">
                            @Html.DisplayFor(modelItem => item.CertificateName)
                        </dd>
                    }
                </dl>
                <a class="btn btn-primary mr-1" asp-area="" asp-controller="UserCertificates" asp-action="Index" asp-route-id="@Model.Id" asp-route-source="shortcut"><i class="fas fa-award fa-fw"> </i> @Resources.Resources.Layout_Certificates</a>
            </div>
        </div>

        <!--SKILLS CARD-->
        <div class="card">
            <h5 class="card-header">@Resources.Skills.Index_Skill</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3"><b>@Resources.Resources.SkillGoals_profile</b></div>
                    <div class="col-sm-3"><b>@Resources.Resources.CurrentSkillLevel</b></div>
                    <div class="col-sm-3"><b>@Resources.Resources.SkillGoalLevel</b></div>
                    <div class="col-sm-3"><b>@Resources.Resources.CompanygoalsProfile</b></div>
                </div>
                <hr />
                <dl class="row">
                    @foreach (var item in Model.UserSkills)
                    {
                        <dd class="col-sm-3">
                            @item.SkillName
                        </dd>
                    
                        <dd class="col-sm-3">
                            @item.SkillLevel
                        </dd>
                        <dd class="col-sm-3">
                            @foreach (var goal in Model.UserGoals)
                            {

                                @if (item.SkillId == goal.SkillId)
                                {
                                    @if (goal.SkillGoal > 0)
                                    {
                                        @goal.SkillGoal
                                    }
                                }
                            }
                        </dd>
                        <dd class="col-sm-3">
                            @foreach (var cGoal in Model.CompanyGoals) 
                            {
                                @if (item.SkillId == cGoal.SkillID)
                                {
                                    @if (cGoal.CompanyGoal > 0)
                                    {
                                        @cGoal.CompanyGoal
                                    }
                                }
                            }
                        </dd>
                    }
                </dl>
                <a class="btn btn-primary mr-1" asp-area="" asp-controller="UserSkills" asp-action="SkillList" asp-route-id="@Model.Id" asp-route-name="latest"><i class="fas fa-book fa-fw"> </i> @Resources.Resources.Layout_Skills</a>
                <a class="btn btn-primary mr-1" asp-area="" asp-controller="UserGoals" asp-action="Index" asp-route-id="@Model.Id"><i class="fas fa-trophy fa-fw"> </i> @Resources.Resources.UserSkillGoals</a>
            </div>
        </div>

        <!--COURSES CARD-->
        <div class="card">
            <h5 class="card-header">@Resources.Resources.Layout_Courses</h5>
            <div class="card-body">
                <dl class="row">
                    @foreach (var course in Model.UserCourses)
                    {
                        <dd class="col-sm-12"> @Html.DisplayFor(modelItem => course.CourseName) </dd>
                    }
                </dl>
            </div>
        </div>
    </div>
