@model Login_System.Models.AppUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@TempData["UserFullName"]</h2>
<hr />
<div class="container-fluid p-0">
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Email Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Employment Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpStatus)
        </dd>
    </dl>
</div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm">
            @if (User.IsInRole("Admin") || User.Identity.Name == Model.UserName)
            {
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }
            @if (TempData["Source"].ToString() == "GroupMembers")
            {
                <a class="btn btn-danger" asp-action="Index" asp-controller="Groups">Back</a>
            }
            else if (TempData["Source"].ToString() == "SkillCourseMembers")
            {
                <a class="btn btn-danger" asp-action="Index" asp-controller="SkillCourseMembers" asp-route-courseName="@TempData["SourceId"]">Back</a>
            }
            else if (TempData["Source"].ToString() == "shortcut")
            {
                <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Back</a>
            }
            else if (TempData["Source"].ToString() == "index")
            {
                <a class="btn btn-danger" asp-action="Index" asp-controller="AppUsers">Back</a>
            }
        </div>
    </div>
</div>
