@model Login_System.Models.AppUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h4>@TempData["UserFullName"]</h4>

<h3 class="text-info">@TempData["ActionResult"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input hidden asp-for="TempUserName" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email Address</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpStatus" class="control-label">Status</label>
                <select class="form-control" asp-for="EmpStatus">
                    <option value="Active">Active</option>
                    <option value="Parental Leave">Parental Leave</option>
                    <option value="Winter Break">Winter Break</option>
                    <option value="Summer Break">Summer Break</option>
                    <option value="Vacation">Vacation</option>
                    <option value="Sick leave">Sick leave</option>
                    <option value="Business Trip">Business Trip</option>
                    <option selected="selected" value="-1">Select Status</option>
                </select>
                <span asp-validation-for="EmpStatus" class="text-danger"></span>
            </div>
            <span style="font-weight: bold; color: red; font-size: 15px;">@ViewBag.Message</span>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">New Password</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="EditRoleOfUser" asp-controller="Admin" asp-route-id="@TempData["UserId"]" asp-route-source="edit">Edit Roles</a>
    </p>
    <p>
        <a asp-action="EditGroupOfUser" asp-route-id="@TempData["UserId"]" asp-route-source="edit">Edit Groups</a>
    </p>    
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
