@model Login_System.ViewModels.EditUserVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4 class="text-info">@TempData["ActionResult"]</h4>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm-2">
                <h2>@TempData["UserFullName"]</h2>
            </div>
        </div>
    </div>
    <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true">@Resources.Resources.Layout_Profile</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" id="group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="false">@Resources.Resources.Layout_Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="role-tab" data-toggle="tab" href="#role" role="tab" aria-controls="role" aria-selected="false">@Resources.Resources.Layout_Roles</a>
                    </li>
                }
            </ul>
            <div class="tab-content mt-2" id="myTabContent">
                <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <input hidden asp-for="User.TempUserName" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="User.FirstName" class="control-label">@Resources.Resources.FirstName</label>
                        <input asp-for="User.FirstName" class="form-control" />
                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.LastName" class="control-label">@Resources.Resources.LastName</label>
                        <input asp-for="User.LastName" class="form-control" />
                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="User.Id" />
                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label">@Resources.Resources.Email</label>
                        <input asp-for="User.Email" class="form-control" placeholder=@Resources.Resources.Email />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.PhoneNumber" class="control-label">@Resources.Resources.Phone</label>
                        <input asp-for="User.PhoneNumber" class="form-control" />
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.EmpStatus" class="control-label">@Resources.Resources.Employee_Edit_Status</label>
                        <select class="form-control" asp-for="User.EmpStatus">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                            <option selected="selected" value="@Model.User.EmpStatus">@Model.User.EmpStatus</option>
                        </select>
                        <span asp-validation-for="User.EmpStatus" class="text-danger"></span>
                    </div>
                    <span style="font-weight: bold; color: red; font-size: 15px;">@ViewBag.Message</span>
                    <div class="form-group">
                        <label asp-for="User.NewPassword" class="control-label">@Resources.Resources.Employee_Edit_NewPass</label>
                        <input asp-for="User.NewPassword" class="form-control" />
                        <span asp-validation-for="User.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.ConfirmNewPassword" class="control-label">@Resources.Resources.ConfirmPassword</label>
                        <input asp-for="User.ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="User.ConfirmNewPassword" class="text-danger"></span>
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
                        <div class="container-fluid p-0 mt-2">
                            @for (int i = 0; i < Model.Groups.Count; i++)
                            {
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.Groups[i].id" />
                                    <input type="hidden" asp-for="@Model.Groups[i].name" />
                                    <input asp-for="@Model.Groups[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.Groups[i].IsSelected">
                                        @Model.Groups[i].name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="role" role="tabpanel" aria-labelledby="role-tab">
                        <div class="container-fluid p-0 mt-2">
                            @for (int i = 0; i < Model.Roles.Count; i++)
                            {
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.Roles[i].Id" />
                                    <input type="hidden" asp-for="@Model.Roles[i].Name" />
                                    <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                                        @Model.Roles[i].Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-outline-primary" asp-route-id=@Model.User.Id asp-action="Details"><i class="fas fa-arrow-left"> </i> @Resources.Resources.GENERAL_Back</a>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-fw"></i> @Resources.Resources.Employee_Edit_Save</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
