@model Login_System.Models.AppUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4 class="text-info">@TempData["ActionResult"]</h4>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm-2">
                <h2>@TempData["UserFullName"]</h2>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-sm-10">
                    <a class="btn btn-info" asp-action="EditRoleOfUser" asp-controller="Admin" asp-route-id="@TempData["UserId"]" asp-route-source="edit"><i class="fas fa-user-tag fa-fw"> </i> @Resources.Resources.Employee_Edit_ERoles</a>
                    <a class="btn btn-info" asp-action="EditGroupOfUser" asp-route-id="@TempData["UserId"]" asp-route-source="edit"><i class="fas fa-users-cog fa-fw"> </i> @Resources.Resources.Employee_Edit_EGroups</a>
                </div>
            }

        </div>
    </div>
    <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input hidden asp-for="TempUserName" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">@Resources.Resources.FirstName</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">@Resources.Resources.LastName</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label">@Resources.Resources.Email</label>
                <input asp-for="Email" class="form-control" placeholder=@Resources.Resources.Email />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">@Resources.Resources.Phone</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpStatus" class="control-label">@Resources.Resources.Employee_Edit_Status</label>
                <select class="form-control" asp-for="EmpStatus">
                    <option value="Active">Active</option>
		            <option value="Inactive">Inactive</option>
                    <option selected="selected" value="@Model.EmpStatus">@Model.EmpStatus</option>
                </select>
                <span asp-validation-for="EmpStatus" class="text-danger"></span>
            </div>
            <span style="font-weight: bold; color: red; font-size: 15px;">@ViewBag.Message</span>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">@Resources.Resources.Employee_Edit_NewPass</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label">@Resources.Resources.ConfirmPassword</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-outline-primary" asp-action="Index"><i class="fas fa-arrow-left"> </i> @Resources.Resources.GENERAL_Back</a>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-fw"></i> @Resources.Resources.Employee_Edit_Save</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
