@model IEnumerable<Login_System.Models.AppUser>
@using System.Web

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.Employee_Index_Title</h2>
<h4 class="text-danger">@TempData["CreateStatus"]</h4>
<h4 class="text-info">@TempData["ActionResult"]</h4>
<hr />
<form asp-controller="AppUsers" asp-action="Index">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder=@TempData["SearchString"] value="@TempData["SearchValue"]">
            </div>
            <div class="col-sm">
                <button class="btn btn-info" type="submit"><i class="fas fa-search fa-fw"> </i> @Resources.Resources.Employee_Index_Filter</button>

                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus fa-fw"> </i> @Resources.Resources.Employee_Index_Create</a>
                }
            </div>
        </div>
    </div>   
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Resources.Resources.FirstName
                </th>
                <th>
                    @Resources.Resources.LastName
                </th>
                <th>
                    @Resources.Resources.Email
                </th>

                <th>
                    @Resources.Resources.Phone
                </th>
                <th>
                    @Resources.Resources.Employee_Index_Status
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpStatus)
                </td>
                @*Giving admin users access to every user's edit methods and the current user to his own*@
            <td colspan="2">
                @if (User.IsInRole("Admin") | item.UserName == User.Identity.Name)
                {
                    <a class="btn btn-info btn-sm" type="button" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-fw"> </i> @Resources.Resources.Employee_Index_Edit</a><span> </span>
                    @if (User.IsInRole("Admin"))
                    {   
                 
                <a class="btn btn-danger btn-sm" type="button" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash fa-fw"> </i> @Resources.Resources.Employee_Index_Delete</a>
                    
                }
                }
</td>
                <td>
                    @if (User.IsInRole("Admin") | item.UserName == User.Identity.Name)
                    {
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="userDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Resources.Employee_Index_Details
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropDown">
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id" asp-route-source="index">@Resources.Resources.Layout_Profile</a>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id" asp-controller="SkillCourseMembers">@Resources.Resources.Layout_Courses</a>
                                <a class="dropdown-item" asp-action="SkillList" asp-controller="UserSkills" asp-route-id="@item.Id" asp-route-name="latest">@Resources.Resources.Layout_Skills</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="UserCertificates" asp-route-id="@item.Id">@Resources.Resources.Layout_Certificates</a>
                            </div>
                        </div>
                    }
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>

