@model Login_System.Models.SkillCourse

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.tiny.cloud/1/4i5x5wj11bwcuimuna5buqs1c5c0i68ltdpfz8enf9e8pggw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#courseDescEdit'
    });
</script>

<h2 style="display:inline">@Resources.Resources.Layout_Courses</h2>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="SkillCourses" asp-action="Index">@Resources.Resources.Layout_Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Courses.Edit_Title</li>
    </ol>
</nav>

@*with breadcrumbs hr-line was not full width*@
<hr style="width:100%" />
<div class="card">
    <div class="card-header">
        <h5>@Resources.Courses.Edit_Title</h5>
    </div>
    <div class="container-fluid p-0">
        <div class="card-body">
            <form asp-action="Edit">
                <div class="row">
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />
                        <div class="form-group">
                            <label asp-for="CourseName" class="control-label"></label>
                            <input asp-for="CourseName" class="form-control" />
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <textarea asp-for="Location" class="form-control"></textarea>
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Length" class="control-label"></label>
                            <textarea asp-for="Length" class="form-control"></textarea>
                            <span asp-validation-for="Length" class="text-danger"></span>
                        </div>

                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-sm">
                                    <button type="button" class="btn btn-outline-primary" onclick="goBack()"><i class="fas fa-times fa-fw"> </i> Cancel </button>
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-fw"> </i> @Resources.Courses.Edit_BTN_Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CourseContents" class="control-label"></label>
                            <textarea asp-for="CourseContents" class="form-control" id="courseDescEdit"></textarea>
                            <span asp-validation-for="CourseContents" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
