@model IEnumerable<Login_System.Models.SkillCourse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    
</p>
<form asp-controller="SkillCourses" asp-action="Index">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder="Search for courses...">
            </div>
            <div class="col-sm">
                <input class="btn btn-info" type="submit" value="Filter" />
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </div>
        </div>
    </div>    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseContents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseContents)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Index" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Members</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
