@model Login_System.ViewModels.SkillCoursesVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function() {
        $(".content").hide();
        $('.content2').css('background-color', '#F8F8FF');

  $('.expandable-row').click(function(e) {
      $(this).next('.content').toggle();
      $(this).next('.content').css('background-color', '#F8F8FF');
    //$(this).next('.content').slideToggle();
  });

    });
</script>

<h2>Courses</h2>
<h4 class="text-info">@TempData["ActionResult"]</h4>
<p>Click on the course to view details.</p>
<form asp-controller="SkillCourses" asp-action="Index">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder="Search for courses...">
            </div>
            <div class="col-sm">
                <input class="btn btn-info" type="submit" value="Filter" />
		@if(User.IsInRole("Admin"))
		{
		<a class="btn btn-primary" asp-action="Create">Create New</a>
		}                
            </div>
        </div>
    </div>    
</form>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
	            Course name
            </th>
            <th>
                Location
            </th>
	        <th>
	        Lessons
            </th>	
            <th>
                Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr class="expandable-row">
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
	        <td>
                @Model.Lessons.Where(x => x.CourseID == item.id).Count() / @item.Length
            </td>
            <td>
                @Model.Durations.FirstOrDefault(x => x.Key == item.id).Value
            </td>
            <td>
                @if (item.MemberStatus == false)
                {
                    <a class="text-info" asp-action="Join" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Join</a> <span> | </span>
                }
                else if (item.MemberStatus == true && !User.IsInRole("Admin") && item.CompleteStatus != true)
                {
                    <a class="text-success" asp-action="Complete" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Complete</a><span> | </span>
                    <a asp-action="Index" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Details</a><span> | </span>
                }
                else if (item.MemberStatus == true && !User.IsInRole("Admin") && item.CompleteStatus == true)
                {
                    <a asp-action="Index" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Details</a>
                }
                else if (item.MemberStatus == true && User.IsInRole("Admin") && item.CompleteStatus != true)
                {
                    <a class="text-success" asp-action="Complete" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Complete</a><span> | </span>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Index" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Members</a><span> |</span>
                    <div class="dropdown show">
                        <a class="dropdown-toggle" href="#" role="button" id="courseDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Edit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="courseDropdown">
                            <a class="dropdown-item" asp-action="Create" asp-controller="Lessons" asp-route-id="@item.id">Add Lesson</a>
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            <a class="dropdown-item" asp-action="AddUsers" asp-controller="SkillCourseMembers" asp-route-id="@item.id">Add Members</a>
                        </div>
                    </div>		            
                }
            </td>
        </tr>
        <tr class="content border border-secondary">
            <td colspan="5">
            <div class="container-fluid p-2 ">
                <div class="row">
                    <div class="col-sm">
                        @Html.Raw(item.CourseContents)
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Lesson
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lesson in Model.Lessons.Where(x => x.CourseID == item.id))
                            {
                                <tr>
                                    <td colspan="1">
                                        @lesson.LessonName
                                    </td>
                                    <td colspan="1">
                                        @lesson.Date.ToString("dd.MM.yyyy HH.mm")
                                    </td>
                                    <td colspan="1">
                                        @lesson.Location
                                    </td>
                                    <td>
                                        @if (lesson.LessonStatus != true)
                                        {
                                            <a asp-action="Attend" asp-controller="Lessons" asp-route-id="@lesson.Id">Attend</a> <span>| </span>
                                        }                                      
                                        <a asp-action="Index" asp-controller="LessonUsers" asp-route-id="@lesson.Id">Members</a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <span>| </span><a asp-action="Create" asp-controller="LessonUsers" asp-route-id="@lesson.Id" asp-route-courseId="@item.id">Attending</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
           </td>
        </tr>
}
    </tbody>
</table>
