@model Login_System.Models.CompanyGroups

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
<h1>@Resources.Resources.CompanyGroups</h1>
<nav class="breadcrumb_nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="CompanyGroups" asp-action="Index">@Resources.Resources.CompanyGroups</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Employee_Index_Edit</li>
    </ol>
</nav>
<hr />


@if (User.IsInRole("Superadmin"))
{
    <div class="card">
        <div class="card-header"><h5>@Resources.Resources.Employee_Index_Edit</h5></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CompanyGroupId" />
                        <div class="form-group">
                            <label asp-for="CompanyGroupName" class="control-label">@Resources.Resources.CompanyGroupName</label>
                            <input asp-for="CompanyGroupName" value="@Model.CompanyGroupName" class="form-control" />
                            <span asp-validation-for="CompanyGroupName" class="text-danger"></span>
                        </div>
                        <label>@Resources.Resources.Company</label>
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.Company, new SelectList(Model.CompanyList, "Value", "Text"), new { @class = "company form-control col-sm", @multiple = "multiple" })
                        </div>

                        <label class="control-label">@Resources.Resources.Layout_Skills</label>
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.Skill, new SelectList(Model.SkillList, "Value", "Text"), new { @class = "skill form-control col-sm", @multiple = "multiple" })
                        </div>


                        <label class="control-label">@Resources.Resources.Layout_Certificates</label>
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.Certificate, new SelectList(Model.CertList, "Value", "Text"), new { @class = "certificate form-control col-sm", @multiple = "multiple" })
                        </div>
                        @if (User.IsInRole("Superadmin"))
                        {
                            <label class="control-label">@Resources.Resources.Select_Admin</label>
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.SelectedUserIds, new SelectList(Model.userList, "Value", "Text"), new { @class = "user-drop-down form-control col-sm", @multiple = "multiple" })
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-fw"> </i> @Resources.Courses.Edit_BTN_Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn btn-danger float-right" onclick="DeletePopUp('@ViewContext.RouteData.Values["Controller"].ToString()', '@Model.CompanyGroupId', '@System.Globalization.CultureInfo.CurrentCulture.Name', true)"><i class="fas fa-trash fa-fw"> </i> @Resources.Resources.GENERAL_Delete</button>
        </div>
    </div>

    <script>
    $(document).ready(function () {
        $('.company').select2({
            placeholder: "@Resources.Resources.CompaniesSelectDropdown"
        });
        $('.skill').select2({
            placeholder: "@Resources.Resources.Skill_Dropdownlist"
           });

        $('.certificate').select2({
            placeholder: "@Resources.Resources.UCertificates_Create_DropDownDefault"
        });
        $('.user-drop-down').select2({
            placeholder: "@Resources.Resources.Select_Admin"
        });

        $('.company').val([@foreach (var item in ViewBag.Companies)
        {
            <text> @item.CompanyId, </text>
        } ]);

        $('.company').trigger('change');

        $('.certificate').val([@foreach (var item in ViewBag.Certificates)
        {
            <text> @item.CertificateId, </text>
        } ]);

        $('.certificate').trigger('change');

        $('.skill').val([@foreach (var item in ViewBag.Skills)
        {
            <text> @item.SkillId, </text>
        } ]);

        $('.skill').trigger('change');
    });

    </script>
}
